@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.chatHome{
    padding: .5rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chatHome-messagesBox{
    border: 2px solid #fd7ae59d;
    color: #fd7ae5;
    text-align: center;
    height: 50%;
    width: 80%;
    overflow: scroll;
    overflow: auto;
}
.chatHome-input{
    margin-top: 1rem;
    border: 2px solid #fd7ae59d;
    width: 50%;
    height: 3rem;
}
.submitButton{
    margin-top: 1rem;
}

.nameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    width: 30%;
    text-align: center;
    background-color: #fd7ae5;
    height: 10%;
}

.nameBtn {
    width: 50%;
    height: 2rem;
    
}

.chatHome-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15%;
    color: #fd7ae5;
    background-color: #000;
    text-align: center;
}

.chatHome-banner-heading{
    font-size: 4rem;
}

.btn_std {
    border: none;
    width: 4rem;
    height: 2rem;
    background-color: #000;
    color: #fd7ae5;
    border: 1px solid #fd7ae5;
}

.btn_std:hover {
    background-color: rgba(0, 0, 0, 0.601);
}

.btn_std:active {
    color: #ff3ddb;
    border: 1px solid #ff3ddb;
}

@media only screen and (max-width: 850px) {
    .chatHome{
       
    }
    .chatHome-banner-heading{
        font-size: 2.5rem;
    }

    .nameForm {
        width: 80vw;
        height: auto;
        padding: 10px;
    }

    .chatHome-input{
        margin-top: 1rem;
        border: 2px solid #fd7ae59d;
        width: 75%;
        height: 3rem;
    }
    

}