* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatHome{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.chatHome-messagesBox{
    border: 2px solid orangered;
    text-align: center;
    height: 50%;
    width: 80%;
    overflow: scroll;
    overflow: auto;
}
.chatHome-input{
    margin-top: 1rem;
    border: 2px solid rgba(255, 68, 0, 0.602);
    width: 50%;
    height: 3rem;
}
.submitButton{
    margin-top: 1rem;
}

.nameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    width: 30%;
    text-align: center;
    background-color: dodgerblue;
    height: 10%;
}

.nameBtn {
    width: 50%;
    height: 2rem;
    
}
