* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.chatHome{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chatHome-messagesBox{
    border: 2px solid #fd7ae59d;
    color: #fd7ae5;
    text-align: center;
    height: 50%;
    width: 80%;
    overflow: scroll;
    overflow: auto;
}
.chatHome-input{
    margin-top: 1rem;
    border: 2px solid #fd7ae59d;
    width: 50%;
    height: 3rem;
}
.submitButton{
    margin-top: 1rem;
}

.nameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    width: 30%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 10%;
}

.nameBtn {
    width: 50%;
    height: 2rem;
    
}

.chatHome-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15%;
    color: #fd7ae5;
    background-color: #000;
    text-align: center;
}

.chatHome-banner-heading{
    font-size: 4rem;
}
